html,
body {
  height: 100%;
}

body {
  text-align: center;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.hey-container {
  margin-right: auto;
  margin-left: auto;
}​